<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock</title>
    <link rel="stylesheet" href="../static/css.css">
</head>
<body>
    <center>
        <div class="form">
    <form action="choice.html" method="post" >
       
        <h1>What's your favourite fruit?</h1>
        <input type="text" name="inptext" id="inp"><br>
        <br>
        
       <h1>What's the one place you'd love to visit?</h1>
        <input type="text" name="place" id="place"><br>

       

      
        
        
        
        
        <input type="submit" value="Submit" class="btn" id="choice"></br>
    

    </form>
</div>
</center>
</body>
</html>