<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Know The Fact💭</title>
    <link rel="stylesheet" href="../static/css.css">
</head>
<body>
    <center>
        
        <div class="form">
            <h1 id="h1">Know The Fact</h1>
    <form action="choice.html" method="post" >
       
        <h1>What's your favourite fruit?</h1>
        <input type="text" name="inptext" id="inp"><br>
        <br>
        
       <h1>What's the one place you'd love to visit?</h1>
        <input type="text" name="place" id="place"><br>

        <h1>Enter a number between 1 and 6 : </h1>
        <input type="number" name="num" id="num" max="6" min="1"><br> 
        
        <input type="submit" value="Click to Know 💭" class="btn" id="choice"></br>
    

    </form>
</div>
</center>
</body>
</html>